<div class="form-group">
  <div class="col-lg-12 col-md-12 col-sm-12 editable-wrapper">
    <%= f.label :roll_no, :class => "col-lg-3 col-md-3 col-sm-3 control-label" %>
    <div class="col-lg-7 col-md-7 col-sm-7">
      <%= f.text_field :roll_no,required: true, :class => "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-12 col-md-12 col-sm-12 editable-wrapper">
    <%= f.label :profile_type_id, :class => "col-lg-3 col-md-5 col-sm-3 control-label" %>
    <div class="col-lg-7 col-md-7 col-sm-7">
      <%= f.select :profile_type_id, options_from_collection_for_select(@profile_types, "id", "name",f.object.try(:profile_type_id)),{}, :class => "form-control",required: true %>
    </div>
  </div>
</div>


<div class="form-group ">
  <div class="col-lg-12 col-md-12 col-sm-12 editable-wrapper">
    <%= f.label :board_id, :class => "col-lg-3 col-md-5 col-sm-3 control-label" %>
    <div class="col-lg-7 col-md-7 col-sm-7">
      <%= f.select :board_id, options_from_collection_for_select(@boards, "id", "name",f.object.try(:board_id)),{include_blank: ""}, required: true, :class => "form-control board_type_select"%>
    </div>
  </div>
</div>
<div class="form-group" id="class_list">
  <div class="col-lg-12 col-md-12 col-sm-12 editable-wrapper">
    <%= f.label :class_list_id, :class => "col-lg-3 col-md-3 col-sm-3 control-label" %>
    <div class="col-lg-7 col-md-7 col-sm-7">
      <%= f.select :class_list_id, options_from_collection_for_select([f.object.class_list], "id", "class_name",f.object.try(:class_list_id)),{}, :class => "form-control" %>
    </div>
  </div>
</div>


