<!DOCTYPE html>
<html>
  <head>
    <title>Sems</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag   'application',"bootstrap/sb-admin-2.css","common_styles/bootstrap.min.css","common_styles/kendo.common.min.css",'common_styles/kendo.material.min.css', "kendo-custom", media: 'all' %>
    <%= javascript_include_tag 'application', "/javascript/kendo.all.min.js",'common_js/messi.min.js' %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= yield(:head) %>
  </head>

  <body>
     <%= render :partial => "layouts/main_navigation_menu.html.erb"%>
  </body>
</html>
