<!DOCTYPE html>
<html>
  <head>
    <title>Sems</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', "common_styles/kendo.common.min.css", media: 'all' %>
    <%= javascript_include_tag 'application', "common_js/kendo.all.min.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
